// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header {
  width: 100%;
  background-color: black;
  padding: 4px 30px;
}

footer {

  width: 100%;
  height: 180px;
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 64px;
  padding-top: 90px;
  position:  absolute;

}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 180px;
  box-sizing:  border-box;
}

.edit-link {
  text-decoration: none;
  color :black;
}

.login-link {
  text-decoration: none;
  color :white;
}

.wrapper{
    min-height: 100vh;
    position: relative;
}

main {
  height: 650px;
}

.header-left {
  float: left;
}

.header-left .form-control {
  width: 180px;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  border-radius: 2px ;
}

.header-search {
  position: relative;
}

.header i {
  position: absolute;
  top: 10px;
  left: 8px;
}

.header-left img {
  vertical-align: middle;
  float: left;
}

 .user_name{
  float: right;
  align-items: center;
}

.user-icon{
  float: right;
}

.login-signup li{
  float: right;
  
}

.flash-message {
  background-color: lightblue;
  color: white;
  text-align: center;
}

.aleat-notce {
  background-color: lightblue;
}
//top.html.erb


.container{
  max-width: 960px;
}

.top-main{
  height: 650px;
  background-image: url("/img_cover_top.jpg");
  background-size: cover;
}

.user_name {
  color: white;
}

.form-fream{
  display: flex;

}

.form-area{
  background-color: #fff;
  padding: 34px;
  border-radius: 5px;
}

.form-fream{
  height: 650px;
    align-items: center;
}

.user-icon{
  height: 65px;
  width: 65px;
}
