// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.login-main {
  padding-top: 36px;
}

.login-content {
  padding: 24px;
  max-width: 600px;
  text-align: center;
  margin:0 auto;
  border-radius: 4px;
  box-shadow: rgba(21, 27, 38, 0.15) 0px 1px 3px 0px;
}

.login-inner {
  width: 360px;
  margin: 0 auto;
}

.field {
  margin-bottom: 10px;
}

.form-row {

}

.actions {
  
}
