// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.update-main {
  background-color: #F6F8F9;

}

.col-lg-10 {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.update-box {
  margin: 30px auto;
  border: 1px solid #eaedef;
}

.update-content {
  background-color: white;
  margin: 0, 15px;
  padding: 20px;
  border-bottom: 1px solid #eaedef;
}
